/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos de Flexbox para la disposición de los elementos */
  header {
    padding: 0.05%;
  }
  
  /* Estilos de Flexbox para la disposición de los elementos */
  nav, main, footer {
    padding: 0.5%;
  }



  header {
    background-color: #010101;
    color: #fff;
    text-align: center;
    display: flex; /* Usamos flexbox */
    justify-content: space-between; /* Espacio entre los elementos */
  } 

  body {
    background-color: black; /* Establece el fondo predeterminado en negro */
  }

  .derecha, .izquierda {
    display: flex; /* Utiliza flexbox para los elementos de la izquierda */
    align-items: center; /* Alinea verticalmente el contenido */
  }
  .Logo {
    padding: 10px; /* Agrega espacio alrededor del contenido */
    text-decoration: none; /* Quita el subrayado del enlace */
    margin-left: 76px; /* Agrega un margen a la derecha para separación del borde */
    margin-top: 1px; /* Agrega un margen a la derecha para separación del borde */
  } 

  .Ir_campus, .AprendeYa{
    padding: 10px; /* Agrega espacio alrededor del contenido */
    text-decoration: none; /* Quita el subrayado del enlace */
    color:#fff; /* Cambia el color del texto */
    border-radius: 10px; /* Hace que las esquinas sean redondeadas */
    font-family: "Nanum Gothic", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.03px;
    margin-right: 7px; /* Agrega un margen a la derecha para separación del borde */
  } 

  .InscribaseYa {
    padding: 1px; /* Agrega espacio alrededor del contenido */
    text-decoration: none; /* Quita el subrayado del enlace */
    color:#fff; /* Cambia el color del texto */
    border-radius: 15px; /* Hace que las esquinas sean redondeadas */
    background-color: #8f36ff;
    margin-left: 11.8px; /* Agrega un margen a la izquierda para separación */
    font-family: "Nanum Gothic", sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 300; /* Peso de la fuente */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: -0.03px; /* Espaciado entre letras */
    width: var(--container-widget-width); /* Utiliza el valor de la variable para el ancho */
    height: var(--container-widget-height); /* Utiliza el valor de la variable para la altura */
    flex-grow: var(--container-widget-flex-grow); /* Utiliza el valor de la variable para flex-grow */
    align-self: var(--container-widget-align-self); /* Utiliza el valor de la variable para align-self */
  }
  
  .SesionInfo {
    padding: 0.01px; /* Agrega espacio alrededor del contenido */
    text-decoration: none; /* Quita el subrayado del enlace */
    color:#fff; /* Cambia el color del texto */
    border-radius: 15px; /* Hace que las esquinas sean redondeadas */
    background-color: #8f36ff;
    margin-left: 11.8px; /* Agrega un margen a la izquierda para separación */
    font-family: "Nanum Gothic", sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 300; /* Peso de la fuente */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: -0.03px; /* Espaciado entre letras */
    margin-right: 250px; /* Agrega un margen a la derecha para separación del borde */
  }
  

  .InscribaseYa:hover, .SesionInfo:hover {
    background-image: linear-gradient(to bottom, #4908c4, #8956cd); /* Cambia el degradado al pasar el cursor */
    transition: background 0.3s ease; /* Transición de 0.3 segundos */
  }

  /* Establece el fondo de la sección y las dimensiones de la imagen de fondo */
.background-section {
  background-image: url('010101Fondo.png'); /* Ruta de tu imagen de fondo */
  background-size: 2000px 400px; /* Ancho y alto de la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  height: 400px; /* Alto de la sección */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto; /* Tres columnas automáticas */
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 400px;
}

.grid-text {
  z-index: 1; /* Asegura que el texto esté al frente de la imagen de fondo */
  color: #fff; /* Color del texto */
  text-align: center; /* Alineación del texto */
  font-size: 75px; /* Tamaño de la fuente */
}

.grid-text_corto {
  z-index: 1; /* Asegura que el texto esté al frente de la imagen de fondo */
  color: #fff; /* Color del texto */
  text-align: center; /* Alineación del texto */
  font-size: 20px; /* Tamaño de la fuente */
  margin-top: 30px; /* Agrega un margen a la derecha para separación del borde */
}

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .two-columns {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
  }
  
  .section1, .section2 {
    position: relative; /* Posición relativa para permitir superposición */
    overflow: hidden; /* Ocultar cualquier desbordamiento */
    z-index: -1; /* Envía la imagen detrás del contenido */
  }

  .section2 .content-box {
    background: linear-gradient(to bottom right, #ef6c5c, #54b9ee); /* Aplica un degradado en diagonal al fondo */
    -webkit-background-clip: text; /* Recorta el fondo del texto */
    background-clip: text; /* Recorta el fondo del texto */
    color: transparent; /* Oculta el color del texto */
  }

  .section2 .content-box p {
    color: white; /* Establece el color del texto en blanco */
  }


  .background-image {
    width: auto; /* Asegura que la imagen de fondo ocupe todo el contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    position: absolute; /* Posición absoluta para superponer */
    top: 0; /* Coloca la imagen en la parte superior */
    left: 0; /* Coloca la imagen en la parte izquierda */
    z-index: -1; /* Envía la imagen detrás del contenido */
    margin-left: 180px;
  }
  
  .image-overlay {
    position: relative; /* Posición relativa para permitir superposición */
    border-radius: 10px; /* Bordes redondeados para la imagen */
  }
  
  .message {
    position: absolute; /* Posición absoluta para superponer */
    top: 50%; /* Coloca el centro verticalmente */
    left: 50%; /* Coloca el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el contenido */
    color: #ffffff;
    padding: 20px; /* Espaciado interno */
    font-size: 40px; /* Tamaño de fuente */
    font-weight: bold; /* Establece la fuente en negrita */
    margin-top: 120px;
    max-width: 40%; /* Ancho máximo para evitar que el texto se extienda demasiado */
    text-align: left; /* Alinea el texto al centro */
  } 